/* Navigation */

#mainNav {
  min-height: 80px;
  font-size: 1.1em;
  background: url("../images/header.jpg");
}

.navbar-brand {
  padding-top: 0px;
  font-weight: bold
}

.nav-item {
  padding-right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #454444;
}

/* Liste posts */

.card-body {
  padding-bottom: 0rem !important;
}

.card-footer {
  text-align: center;
}

/* Avatar commentaires */

#mini-avatar {
  float: left;
}

/* Formulaire connexion et inscription */

.form-signin, .form-registration {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.g-recaptcha {
  transform:scale(1.23, 1);
  -webkit-transform:scale(1.23, 1);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

@media all and (max-width : 400px){
  .g-recaptcha {
    transform:scale(1, 0.9);
    -webkit-transform:scale(1, 0.9);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }
}

/* Profil */

#pseudo {
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
}

#avatar {
  justify-content: center;
}